<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Barangay_Profiling_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
  <userSettings>
    <Barangay_Profiling_System.My.MySettings>
      <setting name="Server" serializeAs="String">
        <value>RUKAYYASALI</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>brgy_profiling_and_case_mgt_system</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>admin</value>
      </setting>
    </Barangay_Profiling_System.My.MySettings>
  </userSettings>
</configuration>